body {
max-width: 1165px; 
font-family: 'Comfortaa', cursive;
   }
h1 { 
color: orange;
font-variant: small-caps;
font-size: 700%;
font-weight: bold;
font-family: "Lobster", cursive;
   }
.upperimg {
 float:left
    }
aside { 
height: 839px;
width: 350px;
float: right;
font-size: 150% 
  }
.nomer {
background: orange;
color: white; 
  }
.nomer1 {
background: orange;
color: white; 
float: right;
wight: 35px;
  }
 h2 {
background: orange;
  }
article {
column-count: 4
  }
p {
margin-top: 0;
margin-bottom: 0
    }
h3 { 
color: red;
margin-top: 0;
margin-bottom: 0
    }
.important { 
float: right; 
background-color: #FEEEF1;
padding: 10px
   }     